  <li class="mapper_id_setting field_setting">
    <label for="field_mapper_id" class="section_label">
      <?php echo esc_html_x( 'Mapper ID', 'label for Gravity Forms mapper ID input', 'blue' ); ?>
    </label>
    <input id="field_mapper_id" type="text" onchange="SetFieldProperty('mapperID', this.value);" />
  </li>