<input id="leadid_token" name="universal_leadid" type="hidden" value=""/>
<input id="usertime" name="usertime" type="hidden" value="" />

<script>
//grab user time from user browser
jQuery(document).bind('gform_post_render', function() {
	var tm = (new Date()).getHours();
	jQuery("#usertime").val( tm );
});
</script>
